* {
  margin: 20;
  padding: 20;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-weight: normal;
  align-self: center;
}

h3 {
  font-weight: normal;
  align-self: center;
  font-size: 16px;


}


.App {
  position: relative;
}

.header {
  background-color: gray;
  height: 150px;
  width: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid black;

}
.albumLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;  
  margin: 10px;
  padding: 10px 20px;

}

.albumLinks img {
  max-height: 250px;
  max-width:100%;
  margin-bottom: 10px;
  position: relative;
  object-fit: cover;

}

li {
  margin: 10px;
  padding: 0px;
  border: 1px solid black;
  list-style: none;

}